*{
    box-sizing: border-box;
    /* width: 100%; */
}
a{
    margin: 0 5px;
}
.block{
    display: block;
}

/* #internal-nav{
    border: 1px solid blue;
}
#external-nav{
    border: 1px solid pink;
} */
.hidden { 
    display: none;
}
.float-left{
    float: left;
}

.float-right{
    float: right;
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#menu {
    list-style-type:none;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    width: 100%;
    margin:0;
    padding:0;
    border: 1px solid red;
    position: relative;
}

#menu li {
    display:inline-block;
    /* float: left; */
    margin-right: 1px;
}

.menu-toggle {
    background: none;
    border: 0;
    color: #333;
    float: right;
    font-family: inherit;
    font-size: 1em;
    height: 100%;
    line-height: 1em;
    margin: 0;
}

nav div {
    display: inline-block;
    border: 1px solid blue;
    padding: 0;
    margin: 0;
}

.nav-contact{
    display: none;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
/*For screens smaller than 980*/
@media screen and (max-width: 980px){
    .container, .header{
        width: 100%;
    }
    .content{
        width: 70%;
    }
    .project{
        width: 45%;
    }
    
}   
/*For screens smaller than 768*/
@media screen and (max-width: 768px){
    .container, .header{
        width: 100%;
    }
    .content{
        width: 90%;
        margin: 20px auto 0;
    }
    .project{
        width: 45%; 
    }
    #menu{
        display: block;
    }

}
/*For screens smaller than 640px*/
@media screen and (max-width: 640px){
   header{
       height: 50;
       border: 1px solid plum;
       display: block;
   }
   #menu{
       display: none;
   }
   .menu-toggle{
       display: block;
   }
   nav div{
       display: block;
       width: 100%;
   }
    #menu li{
        border: 1px solid red;
        display: block;
        width: 100%;
        text-align: center;
    }

}